<% include ../partials/nav.ejs %>
    
    <div class="vlform"></div><!-- vertical line -->

    <div class="bg"><!-- wrapper -->
        <div class="container">
            <div id="pageTitle">Edit Profile</div>
                
                <% result.forEach(function(el) { %>
                    <div class="element"> <!-- image -->
                        <img id="formImage" src="/<%= el.image%>" alt="">
                    </div>
                    <% if (user.Id != el.Id) { %> 
                    <form class="validate" accept-charset="UTF-8" style="display: inline-block; width: 90%;" action="/editMemberProfile/<%= el.Id %>" method="post">
                        <% } else { %>
                            <form class="validate" accept-charset="UTF-8" style="display: inline-block; width: 90%;" action="/editProfile/<%= el.Id %>" method="post">   
                        <% } %>
                        <input type="text" name="image" placeholder="Enter ImageUrl" value="<%= el.image %>"  title="Jpg's or Png's only" required pattern=".*\.(jpe?g|png)$"/>
                        <input type="text" name="about" placeholder="About me..." value="<%= el.about %>"  title="Letters, numbers, spaces or ','(at least one letter or number)" required pattern="[A-Za-z0-9 ,_]*[A-Za-z0-9][A-Za-z0-9 ,_-'!.]*$" />
                        <input type="text" name="phonenumber" placeholder="Enter Phonenumber" value="<%= el.phonenumber %>" title="Must contain numbers, '-', '()' '+' Optional" required pattern="(?=.*[0-9])[- +()0-9]+$"/>
                        <button class="formbutton" >Update</button>
                    </form>
                    <div class="contentWrap"> <!-- buttons -->
                        <div  class="content">
                            <a class="button" href="/deleteProfile/<%= el.Id %>">Delete</a>
                        </div>
                        <div  class="content"> 
                            <a href="/profiles">Back</a>
                        </div>
                    </div> <!-- end buttons -->
                <% }); %>
            
        </div><!--end container -->
    </div><!-- end wrapper -->
  
<script src="../nav.js"></script>
<script src="../jquery.js"></script>      
</body>
</html> 